<div class="contenedor">
  <header>
    <div class="git">
      <img src='../app/assets//americano.png' width="150">
      <p>CMC</p>
    </div>
    <nav>
      <a href="#">Inicio</a>
      <a href="#">Misión</a>
      <a href="#">Visión</a>
      <a href="#" >Ingresar <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
      
    </nav>
  </header>

</div>